
.vs/图书管理系统/FileContentIndex/b0a33ae6-00a8-4457-81fc-a5f3ef5b67ce.vsidx
.vs/图书管理系统/v17/Browse.VC.db
.vs/图书管理系统/v17/Browse.VC.db-shm
.vs/图书管理系统/v17/Browse.VC.db-wal
.vs/图书管理系统/v17/Browse.VC.opendb
.vs/图书管理系统/v17/ipch/AutoPCH/aa94dc4bddb24030/FILENAME.ipch
/.vs
/x64
/图书管理系统
